<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        {% include content_template_name %}
    </body>
</html>